<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成代码</title>
    <link rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes//icon.css">
</head>

<body>
<div id="main" class="easyui-layout" region="center">
    <div class="easyui-layout" style="width: 100%;height: 8%;">
        <div region="center" title="数据源" style="padding:5px;">
            选择数据源：
            <select id="node_select" style="width:150px"></select>
            <div id="node_div">
                <div style="color:#99BBE8;background:#fafafa;padding:5px;">Select a data source</div>
                <div style="padding:10px">
                    {{range  .nodeSlice}}
                    <input type="radio" name="lang" value="{{.}}"><span>{{.}}</span><br/>
                    {{end}}
                </div>
            </div>
            <span>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#data_source_div').window('open')">添加数据源</a>
            </span>
            <div id="data_source_div" class="easyui-window" title="添加数据源" data-options="iconCls:'icon-save',minimizable:false,closed:true,maximizable:false,draggable:false,resizable:false,modal:true" style="width:500px;height:600px;padding:5px;">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'center'" style="padding:10px;">
                        <div style="margin-bottom:20px">
                            <div style="margin-bottom:20px">
                                <div>名称:</div>
                                <input class="easyui-textbox" id="data_source_node" style="width:100%;height:32px">
                            </div>
                            <div style="margin-bottom:20px">
                                <div>IP:</div>
                                <input class="easyui-textbox" id="data_source_ip" style="width:100%;height:32px">
                            </div>
                            <div style="margin-bottom:20px">
                                <div>Prot:</div>
                                <input class="easyui-textbox" id="data_source_port" style="width:100%;height:32px">
                            </div>
                            <div style="margin-bottom:20px">
                                <div>Database name:</div>
                                <input class="easyui-textbox" id="data_source_databasename" style="width:100%;height:32px">
                            </div>
                            <div style="margin-bottom:20px">
                                <div>user name:</div>
                                <input class="easyui-textbox" id="data_source_username" style="width:100%;height:32px">
                            </div>
                            <div style="margin-bottom:20px">
                                <div>passwd:</div>
                                <input class="easyui-textbox" id="data_source_passwd" style="width:100%;height:32px">
                            </div>
                        </div>
                    </div>
                    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="sub_data_source()" style="width:80px">提交</a>
                        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="$('#data_source_div').window('close')" style="width:80px">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="easyui-layout" style="width: 100%;height: 84%;">
        <div region="west" split="true" title="表名" style="width:30%;">
            <ul style="display:none;">
                <li id="template"><input type="checkbox" value="a" name="tableName"/><a href="javascript:void(0)" onclick="tab_click()">a</a></li>
            </ul>
            <ul id="table_name_slice_ul">

            </ul>
        </div>
        <div id="content" region="center" title="结构" style="padding:5px;">
        </div>
    </div>
    <div class="easyui-layout" style="width: 100%;height: 8%;">
        <div region="center" title="导出" style="padding:5px;">
            包名：<input class="easyui-textbox" type="text" id="packageName" data-options="required:true" placeholder="eg:come.masz.demo"></input>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="exportCode()">导出</a>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/easyloader.js" ></script>
<script src="/static/js/jquery.easyui.min.js" ></script>
<script src="/static/js/index.js" ></script>
</body>
</html>